<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace = "/fragmentos/head :: head">  
     <title> </title>
    </head>

    <body id="principal" >
        <div th:fragment="navbar" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-logo" href="/">
                    <img src="../imagenes/baseline_home_black_24dp.png" style=" width: 40px; height: 40px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Ingresar datos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/LibroForm">Cargar Libro</a>
                                <a class="dropdown-item" href="/AutorForm">Cargar Autor</a>
                                <a class="dropdown-item" href="/EditorialForm">Cargar Editorial</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Consultar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/tablasLibros">Listado de Libro</a>
                                <a class="dropdown-item" href="/tablasAutor">Listado de Autor</a>
                                <a class="dropdown-item" href="/tablasEditorial">Listado de Editorial</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div th:if="${tipo == null}">
            <div th:replace="fragmentos/formularioLibro :: registro"></div></div>
        <div th:unless="${tipo == null}">
            <div  th:replace="fragmentos/formularioLibro :: edicion"></div></div>


        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>

</html>